.aligner   {width:950px;}
.logo      {height:90px;}
.mainleft  {width:28%;}
.mainright {width:70.8%;}
.legacy    {width:935px; height:300px;}
.mySlides {height:300px;}
.img-slide {height:305px;}
.top       {height:330px; width:260px;}
