.aligner   {width:96.5%;}
.logo      {height:90px;}
.mainleft  {width:27.9%;}
.mainright {width:71%;}
.legacy    {width:93vw; height:300px;}
.mySlides {height:30vw;}
.img-slide {height:30.5vw;}
.top       {height:330px; width:25.8vw;}
