.aligner   {width:710px;}
.logo      {height:90px;}
.mainleft  {width:27.8%;}
.mainright {width:70.8%;}
.legacy    {width:698px; height:300px;}
.mySlides {height:224px;}
.img-slide {height:230px;}
.top       {height:330px; width:192px;}
